node_modules
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
.github
README.md
LICENSE
.vscode
.zed
Makefile
helm-charts
.env
.editorconfig
.idea
coverage*
.env.example
*.md
commitlint.config.js
eslint*
prettier*
lefthook*
